<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Update</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-info">
            <a class="navbar-brand" href="#">Fakebook</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/profile">Home</a>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    
                    <a class="btn btn-sm btn-outline-light" href="/logout">Logout</a>
                </form>
            </div>
        </nav>
        <div class="container">
        <div class="row bg-light p-5">
            <div class="col-sm-4 text-center h-100 bg-">
                <div>
                    {{#if user.photo}}
                    <img class="rounded-circle" src="{{user.photo}}" height="200px" width="200px">
                    {{else}}
                    <img class="rounded-circle"
                        src="https://sophosnews.files.wordpress.com/2013/08/facebook-silhouette_thumb.jpg"
                        height="200px" width="200px">
                    {{/if}}
                    <h4 class="mt-2">{{user.name}}</h4>
                </div>
            </div>
            <div class="col-sm-8 offset-2  mt-3 h-100 mt-5 ml-5 pt-5">
               <p>Status:  {{user.status}}</p>
               <p>Date of Birth:  {{user.birthdate}}</p>
               <p>Location:  {{user.location}}</p> 
               <p>Phone:  {{user.phone}}</p>
               <p>Email:  {{user.email}}</p>
               <p>Hobbies:  {{user.hobbies}}</p>
               <p>About:  {{user.about}}</p>
            </div>
        </div>
    </div>
</body>
</html>